<!--
<mat-toolbar color="transparent" class="navbar">
  &lt;!&ndash; Logo &ndash;&gt;
  <img src="assets/images/logo.png" class="logo" alt="Company Logo">

  &lt;!&ndash; Desktop Navbar &ndash;&gt;
  <nav class="desktop-nav">
    <ul class="navbar-nav">
      <li class="nav-item mx-2"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item mx-2"><a class="nav-link" href="#">Services</a></li>
      <li class="nav-item mx-2"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item mx-2"><a class="nav-link" href="#">Projects</a></li>
      <li class="nav-item mx-2"><a class="nav-link" href="#">Contact</a></li>
    </ul>
  </nav>

  &lt;!&ndash; Mobile Menu (Hamburger) &ndash;&gt;
  <button mat-icon-button class="menu-button" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

&lt;!&ndash; Mobile Sidebar &ndash;&gt;
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <div class="sidenav-header">
      <img src="assets/images/logo.png" class="logo" alt="Company Logo">
      &lt;!&ndash; Close Button (X) &ndash;&gt;
      <button mat-icon-button class="close-button" (click)="closeSidenav()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ul class="mobile-menu">
      <li><a href="#" (click)="closeSidenav()">Home</a></li>
      <li><a href="#" (click)="closeSidenav()">Services</a></li>
      <li><a href="#" (click)="closeSidenav()">About</a></li>
      <li><a href="#" (click)="closeSidenav()">Projects</a></li>
      <li><a href="#" (click)="closeSidenav()">Contact</a></li>
    </ul>
  </mat-sidenav>
</mat-sidenav-container>-->



<div class="hero">
  <div class="overlay"></div>

  <nav class="navbar navbar-expand-lg">
    <div class="container justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item mx-2"><a class="nav-link" href="#">Home</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="#">Services</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="#">Projects</a></li>
        <li class="nav-item mx-2"><a class="nav-link" href="#">Contact</a></li>
      </ul>
    </div>
  </nav>


  <img src="assets/images/logo.png" class="logo" alt="Company Logo">

  <div class="content-box">
    <h2>LEADERS IN QUALITY CONSTRUCTION AND INFRASTRUCTURE</h2>
  </div>
</div>


