.hero {
  position: relative;
  background: url('../../../assets/images/headerImage.jpg') no-repeat center center/cover;
  height: 80vh;
  width: 100%;
  color: white;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a dark overlay */
}

.navbar {
  position: absolute; /* Position the navbar absolutely */
  top: 10px; /* Adjust as needed for vertical spacing */
  right: 2px; /* Adjust as needed for horizontal spacing */
  z-index: 1000; /* Ensure it appears above other elements */
}

.navbar-nav {
  display: flex; /* Make the navbar items flex containers */
  justify-content: space-between; /* Distribute space evenly */
  width: 100%; /* Use the full width of the navbar */
  list-style-type: none;
}

.nav-item a {
  text-decoration: none;
  font-weight: bold; /* Make text bolder */
  color: white; /* Ensure text is white */
  transition: all 0.3s ease;
}

.nav-item a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 180px;
  padding: 10px;
}

.content-box {
  position: absolute;
  bottom: -2em; /* Align to the bottom of the hero section */
  right: 0; /* Align to the right side */
  background: #1E2A38;
  padding: 2em;
  color: white;
  text-align: center;
  width: 85%; /* Adjust width as per requirement */
  max-width: 85%;
}

@media (max-width: 564px) {
  .content-box {
    padding: 1em;
    width: 80%; /* Adjust width as per requirement */
    max-width: 80%;
  }

  .navbar-toggler {
    display: block; /* Show hamburger menu icon on small screens */
  }

  .navbar-collapse {
    display: none; /* Hide the navbar items by default on small screens */
  }

  .navbar-collapse.collapse.show {
    display: block; /* Display the navbar items when the menu is toggled */
  }

  .navbar-nav {
    flex-direction: column; /* Stack navbar items vertically */
    text-align: center; /* Center the items */
    width: 100%; /* Full width for the navbar items */
  }

  .nav-item {
    margin-bottom: 1em; /* Add space between items */
  }
}

@media (max-width: 282px) {
  h2{
    font-size: 1em;
  }
}
