.services-section1 {
/*  !*padding: 50px;*!*/
/*  text-align: center;*/
  width: 80%;
  margin: auto;
  /*border: 1px solid black;*/
}

h2 {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
}

.title-underline {
  width: 80px;
  height: 4px;
  background-color: #EDCB62;
  margin: 10px auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px; /* Avoid cumulative margin on each iteration */
}
.service-text-content, .service-img-content{
  width: 50%;
  /*border: 3px solid red;*/
}
.service-text-content {
  text-align: left;
  /*padding-left: 20px; !* Padding only for text content *!*/
}

.view-more {
  display: inline-block;
  margin-top: 10px;
}

.service-img {
  width: 400px;
  height: 250px;

}

.reverse-layout {
  flex-direction: row-reverse; /* Swap layout for even-indexed services */

}

.service-img-content {
  text-align: right;
}

.reverse-layout .service-img-content {
  text-align: left;
}


/*!*@media (max-width: 768px) {*!*/
/*!*  .row {*!*/
/*!*    flex-direction: column !important;*!*/
/*!*    margin-bottom: 30px; !* Maintain space between services in column layout *!*!*/
/*!*  }*!*/

/*!*  .service-text-content {*!*/
/*!*    text-align: center;*!*/
/*!*    padding-left: 0; !* Reset padding for small screens *!*!*/
/*!*  }*!*/

/*!*  .service-img {*!*/
/*!*    width: 100%;*!*/
/*!*    height: auto;*!*/
/*!*  }*!*/
/*!*}*!*/
