<section class="intro-section container py-5">
  <h2 class="section-title text-center">MISSAN GROUP</h2>
  <h5 class="sub-title text-center">INTRODUCTION</h5>
  <p class="intro-description text-left mb-4">
    <span class="highlight">MISSAN Engineering Group</span> is a relationship-based company, meaning that we focus on developing and maintaining long-term relationships with all of our business partners. We are non-adversarial, non-claims oriented and flexible in how we approach construction.
  </p>

<!--  <img src="assets/images/WareHouse.jpeg" class="img-fluid mb-4" alt="Company Image" style="max-width: 50%"/>-->
  <div class="text-center">
    <img src="assets/images/footerLocations.jpeg" class="img-fluid mb-4" alt="Company Image" style="max-width: 50%;margin-right: 4rem;">
  </div>


  <div class="row g-4">
    <div class="col-md-4">
      <div class="intro-box h-100">
        <p>
          Prior to forming Missan Engineering Group, the company’s found under name of Missan Engineering and Contracting Company LTD. in Baghdad/Iraq enjoyed successful careers with leading national general contractors in Baghdad Iraq and International companies which worked in Iraq, gaining extensive experience managing large, complex and award-winning projects.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="intro-box h-100">
        <p>
          Missan Engineering Group, the capability and sophistication to projects of Industrial, service, commercial and residential construction sectors. Our involvement with public-private-partnership projects has greatly informed our approach; in particular, the importance of using the pre-construction period to plan the work efficiently and mitigate risks.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="intro-box h-100">
        <p>
          After more than 17 years of success and achievements, we are still committed to our vision to be leaders in our activities and to serve our clients in the best possible way.
        </p>
      </div>
    </div>
  </div>
</section>
