<section class="stats-section text-white">
  <div class="container-fluid">
    <div class="row g-0">
      <div class="col-md-6 stats-bg px-4 py-5 d-flex flex-column justify-content-center">
        <div class="row text-center">
          <div class="col-6 stat-item">
            <h3>110+</h3>
            <p>Projects<br>Completed</p>
            <div class="underline"></div>
          </div>
          <div class="col-6 stat-item">
            <h3>350+</h3>
            <p>Contractors<br>Appointed</p>
            <div class="underline"></div>
          </div>
        </div>
      </div>
      <div class="col-md-6 stats-bg-image px-4 py-5 d-flex flex-column justify-content-center">
        <div class="row text-center text-white">
          <div class="col-6 stat-item">
            <h3>15+</h3>
            <p>Awards<br>Won</p>
            <div class="underline"></div>
          </div>
          <div class="col-6 stat-item">
            <h3>2003</h3>
            <p>Year<br>Established</p>
            <div class="underline"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

