<div class="container-md about-section">
  <div class="row">
    <div class="col-md-12">
      <h2>ABOUT</h2>
      <div class="company-description">
        <p>Missan Engineering Group is a relationship-based company, meaning that we focus on developing and maintaining long-term relationships with all of our business partners. We are non-adversarial, non-claims oriented and flexible in how we approach construction.</p>
        <p>Prior to forming Missan Engineering Group, the company’s founders enjoyed successful careers with leading national general contractors in Baghdad, Iraq, and international companies which worked in Iraq, gaining extensive experience managing large, complex and award-winning projects.</p>
        <p>Missan Engineering Group brings exceptional capability and sophistication to projects in the industrial, service, commercial, and residential construction sectors. Our involvement with public-private partnership projects has greatly informed our approach; in particular, the importance of using the pre-construction period to plan the work efficiently and mitigate risks.</p>
      </div>

      <div class="view-more-container">
        <a routerLink="/about" routerLinkActive="active" class="view-more">VIEW MORE</a>
        <span class="arrow">➔</span> <!-- Use any arrow icon or emoji -->
      </div>
    </div>
  </div>
</div>
