.about-section {
  padding: 50px 0;
  width: 85%;
  margin: auto;
}
.about-section h2 {
  font-size: 36px;
  font-weight: bold;
}
.about-section p {
  margin-bottom: 20px;
}
.company-description{
  width: 80%;
  margin: auto;
}
.view-more-container {
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center vertically */
  margin-top: 20px; /* Add some space above */
}

.view-more {
  margin-right: 10px; /* Space between the link and the arrow */
  text-decoration: none; /* Remove underline */
  color: #007bff; /* Link color (customize as needed) */
  font-weight: bold; /* Make the text bold */
}

.arrow {
  font-size: 24px; /* Adjust size as needed */
  color: #007bff; /* Match the link color or customize */
}

