<div class="container about-section">
  <div class="row">
    <div class="col-md-6 left-side-content">
      <img src="assets/images/project-home.jpg" alt="Construction site">
    </div>
    <div class="partition"></div> <!-- Partition line -->
    <div class="col-md-6 right-side-content">
      <h2>PROJECT TITLE</h2>
      <p>CATEGORY1 CATEGORY2 CATEGORY3</p>
      <p>Missan Engineering Group is a relationship-based company, meaning that we focus on developing and maintaining long-term relationships with all of our business partners. We are non-adversarial, non-claims oriented, and flexible in how we approach construction.</p>
      <a href="#" class="view-more">VIEW PROJECTS →</a>
    </div>
  </div>
</div>
