<div class="container services-section1">
  <h2 class="section-title text-center">SERVICES</h2>
  <div class="title-underline mx-auto"></div>

  <div class="row d-flex mt-4">
    <!-- Left Side: Text Content -->
    <div class="col-md-6">
      <h4 class="service-text fw-bold">Preconstruction Planning</h4>
      <p class="service-description">
        Effective pre-construction services and planning is the cornerstone of a successful construction project.
        Missan Group Inc. for contracting and construction is to serve both the Owner and Specifications as a
        reliable source of current, complete, and accurate information.
      </p>
      <p class="service-description">
        Effective pre-construction services and planning is the cornerstone of a successful construction project.
        Missan Group Inc. for contracting and construction is to serve both the Owner and Specifications as a
        reliable source of current, complete, and accurate information.
      </p>
      <a href="#" class="view-more fw-bold text-decoration-none">VIEW MORE</a>
    </div>

    <!-- Right Side: Image -->
    <div class="col-md-6 text-center">
      <img src="assets/images/serviceImage1.png" alt="Preconstruction Planning" class="img-fluid rounded">
    </div>
  </div>
  <hr>
</div>


<div class="container services-section2">
  <div class="row d-flex mt-4 ">


    <!-- Left Side: Image -->
    <div class="col-md-6 text-center  mb-4">
      <img src="assets/images/serviceImage2.png" alt="Preconstruction Planning" class="img-fluid rounded">
    </div>

    <!-- Right Side: Text Content -->
    <div class="col-md-6 right-side-text  mb-4">
      <h4 class="service-text fw-bold">Preconstruction Planning</h4>
      <p class="service-description2">
        Effective pre-construction services and planning is the cornerstone of a successful construction project.
        Missan Group Inc. for contracting and construction is to serve both the Owner and Specifications as a
        reliable source of current, complete, and accurate information.
      </p>
      <p class="service-description2">
        Effective pre-construction services and planning is the cornerstone of a successful construction project.
        Missan Group Inc. for contracting and construction is to serve both the Owner and Specifications as a
        reliable source of current, complete, and accurate information.
      </p>
      <a href="#" class="view-more fw-bold text-decoration-none">VIEW MORE</a>
    </div>
  </div>
  <hr style="margin-top: 4.5rem;">
</div>

<div class="container services-section3">
<div class="row d-flex mt-4">
  <!-- Left Side: Text Content -->
  <div class="col-md-6">
    <h4 class="service-text fw-bold">Preconstruction Planning</h4>
    <p class="service-description">
      Effective pre-construction services and planning is the cornerstone of a successful construction project.
      Missan Group Inc. for contracting and construction is to serve both the Owner and Specifications as a
      reliable source of current, complete, and accurate information.
    </p>
    <p class="service-description">
      Effective pre-construction services and planning is the cornerstone of a successful construction project.
      Missan Group Inc. for contracting and construction is to serve both the Owner and Specifications as a
      reliable source of current, complete, and accurate information.
    </p>
    <a href="#" class="view-more fw-bold text-decoration-none">VIEW MORE</a>
  </div>

  <!-- Right Side: Image -->
  <div class="col-md-6 text-center">
    <img src="assets/images/serviceImage3.png" alt="Preconstruction Planning" class="img-fluid rounded">
  </div>
</div>
  <hr>
</div>
