<div class="about-section">
  <div class="left-side-content">
    <img src="assets/images/project-home.jpg" alt="Construction site">
  </div>
  <div class="right-side-content">
    <h2>PROJECTS</h2>
    <p><strong>Residential &nbsp;&bull;&nbsp; Commercial &nbsp;&bull;&nbsp; Industrial</strong></p>
    <p>Missan Engineering Group is a relationship-based company,
      meaning that we focus on developing and maintaining long-term relationships with all of our business partners.
      We are non-adversarial, non-claims oriented, and flexible in how we approach construction.
    </p>
    <div class="view-more-container">
      <a routerLink="/project" routerLinkActive="active" class="view-more">VIEW MORE</a>
      <span class="arrow">➔</span>
    </div>
  </div>
</div>
