.services {
  display: flex;
  flex-wrap: wrap;
}

.service {
  margin: 10px;
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

.selected-service {
  margin-top: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
}

.description {
  margin-top: 10px;
}
